/* .add-shop-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    background: linear-gradient(900deg, #061756, #ffffff);
  }
  
  .shop-iframe {
    width: 90%;
    height: 90%;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
   */