.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 9999;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #ddd;

  /* iOS and Android rubber-band prevention */
  overscroll-behavior-y: contain;
  -webkit-overflow-scrolling: auto;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  



  /* height: 100vh; Ensures the container takes full viewport height */
  overflow-y: auto; /* Enables scroll */
  overscroll-behavior-y: none; /* Prevents stretch effect */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling for iOS */
}




.shopBack {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.rightIcons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.navItem {
  color: rgb(0, 0, 0);
  text-decoration: none;
  position: relative;
}

.icon {
  font-size: 23px;
}

.cartIconWrapper {
  position: relative;
}

.cartCount {
  background-color: #da3e3e;
  color: rgb(255, 255, 255);
  border-radius: 50%;
  padding: 3px 6px;
  font-size: 12px;
  position: absolute;
  top: -6px;
  right: -10px;
}
.main-content {
  padding-top: 60px; /* Adjust based on navbar height */
}






/* In ChooseProductAndAddToCart.css or global styles */
